{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">MyCart!</h1>
      <p>We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. Mycartians are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Working at Mycart</h2>
        <p>If you're an inventor, you love to build and be part of high performance teams who are passionate about operational excellence—you’ll love it here. From day one at Mycart, you'll take ownership of projects that have a direct impact on our customers. You'll love being an Mycartian!</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Opportunities</h2>
        <p>From selling globally to locally, from making money on your site to expanding your business, Mycart has a lot of opportuntiies for you to explore.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Great Indian Festival 2020 Updates</h2>
        <p>A roundup of all news and updates on how Mycart India is gearing up for the festive season...</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
